{% extends "base.html" %}
{% block title %}
  About
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 pt-5 text-bg-dark">
            <h3>Modern-College</h3>
           <p> Modern colleges have evolved to offer diverse learning formats,
             including in-person, online, and hybrid courses, integrating cutting-edge 
             technology to enhance education. They emphasize critical skills like 
            problem-solving, communication, and collaboration, while fostering diversity,
            inclusion, and global exposure through study abroad programs and
            international collaborations. Support services, such as career counseling
            and mental health resources, are widely available to help students succeed
            academically and personally. Colleges also prioritize sustainability,
            social responsibility, and entrepreneurial opportunities, encouraging students to
            engage in community activism and innovative ventures. The emphasis on hands-on, experiential learning,
            along with a vibrant campus life, creates a dynamic and well-rounded environment for students
            to thrive in both their academic and personal growth.</p>       

        </div>
        
    </div>
</div>
{% include "footbar.html" %}
{% endblock %}
